a{
  color: white;
}

.menu-button {
  width: 80%;
  margin: auto;
  font-size: 1rem;

  ::ng-deep .mat-button-wrapper {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
