<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Convert values ​​to chart
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <div class="avatar mat-elevation-z8"></div>

    <h4 class="name">{{name}}</h4>
    <p class="designation">{{designation}}</p>

    <mat-divider></mat-divider>


    <div *ngFor="let sm of socialMedias">
      <app-button-social-media [socialMedia]="sm"></app-button-social-media>
    </div>

    <!-- <mat-divider></mat-divider> -->

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
