@font-face {
  font-family: "OrangeJuice";
  src: local("OrangeJuice"), url(./assets/fonts/orange-juice.ttf) format("truetype");
}

.title {
  margin: auto;
  text-align: center;
  font-family: "OrangeJuice";
  font-size: 5rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
